@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

/* Scrollbar style */
*::-webkit-scrollbar { height: 10px; width: 10px; }
*::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 8px; }
.dark *::-webkit-scrollbar-thumb { background: #475569; }